body {
    text-align: center;
    background-color: cyan;
}
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#submit {
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
input {
    margin:10px ;
}